* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}
.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.btn-item {
  margin-left: 15px;
  border:1px solid rgb(24, 24, 24);
  border-radius: 5px;
  padding: 7px 12px;
  transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
}
.btn-item:hover{
  color:white;
  background-color: #212529;
}
.btn-item:focus{
  outline: rgba(26, 26, 26,0.6) solid 4px;  
}
.photo {
  width: 30%;
  height: 175px;
  border: 0.25rem solid black;
  border-radius: 10px;
  padding: 0;
}
.photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-items {
  margin: 20px 0;
}
.menu-info {
  margin-left: 20px;
  width: 100%;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

h4 {
  color: #e00a00;
}

.menu-text {
  padding-top: 20px;
}
